* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #70b9ca;
    color: white;
    width: 100%;
}

h1 {
    font-size: 50px;
    color: slategray;
}

h3 {
    font-size: 32px;
    margin: 50px;
    color: slategray;
}

p {
    font-size: 20px;
    line-height: 200%;
    /* width: 92%; */
    margin: all 50px;
}

.container {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h3 {
    font-size: 1.6rem;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-links a {
    color: white;
    font-size: 16px;
    position: relative;
    left: 0;
    transition: left .4s, color 2s;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.nav-links a:hover {
    color: slategray;
    left: 5px;
}

.kc-tag {
    color: white;
    font-family: 'Times New Roman';
    font-size: 35px;
    position: relative;
    left: 0;
    transition: left .4s, color 2s;
}

.kc-tag:hover {
    color: slategray;
    left: 5px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.header-container {
    display: grid;
    grid-template-columns: auto 450px;
    align-items: center;
    height: 100%;
    padding-top: 2.5rem;
    gap: 2%;
    position: relative;
}


.header-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
}

.hero-image {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: slategray;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    top: 10%;
}

.hero-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    position: relative;
    top: .5rem;
}

.round {
    width: 100%;
    height: 100%;
    border-color: white transparent;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px 4px 0 0;
}

.sections {
    display: inline;
    align-items: center;
    text-align: center;
    padding: 17px;
    margin: 50%;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 33.33%;
    padding: 5px;
    font-size: large;
    color: white;
}

.footer {
    height: 70px;
    display: flex;
    justify-content: space-around;
    color: slategray;
}

.text {
    color: white;
    font-size: large;
    text-align: center;
}

.portfolio {
    padding: 30px;
}

.imgs {
    color: white;
    font-family: 'Times New Roman';
    font-size: larger;
    position: relative;
    left: 0;
    transition: left .4s, color 2s;
    justify-content: space-between;
    padding: 20px;
}


.imgs:hover {
    color: slategray;
    left: 5px;
}

.contact-me {
    color: white;
    font-family: 'Times New Roman';
    font-size: larger;
    position: relative;
    left: 0;
    transition: left .4s, color 2s;
    justify-content: space-between;
    padding: 20px;
}

.contact-me:hover {
    color: slategray;
    left: 5px;
}

.title {
    font-size: 25px;
    padding: 20px;
}